<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>首页</title>
</head>
<body>

<h1>您来了</h1>

<div sec:authorize="hasAuthority('ROLE_USER')">
	<h2> 尊贵的管理员大人 </h2>
</div>
<div sec:authorize="hasRole('ROLE_USER')">
	<h2> 恭喜您有权限了 </h2>
</div>
<div sec:authentication="principal.userName">
    对对对
</div>
<span sec:authentication="principal.authorities"></span>
<div sec:authorize="isAuthenticated()">
认证成功了
</div>

</body>
</html>